<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Obtener productos de mercado libre</h1>
    <form action="/descargarInfo" method="POST">
        <div>
            <label for="producto"></label>
            <input type="text" name="producto" id="producto" placeholder="Ingrese producto" required>
        </div>
        <div>
            <label for="limite"></label>
            <input type="number" name="limite" id="limite" placeholder="Ingrese limite" required>
        </div>
        <button type="submit">enviar</button>
    </form>
</body>
</html>